.view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:none !important;
    height: 100vh;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 90vh;
    flex-grow: 0;
    flex-shrink: 1;
    overflow-y: scroll;
}
.nav{
    flex-basis: 10vh;
    flex-shrink: 0;
    width: 100vw;
}
.cards{
    display: grid;
}
.cards>*{
    grid-area: 1/1;
}