.headingwrapper{
    position: sticky;
    top: 0.3rem;
    align-items: center;
    flex-basis: 4rem;
    margin: 0%;
}
.bodywrapper{
    display: flex;
    align-items: center;
}
.bodywrapper>form{
    margin-right: 3rem;
}
.footerwrapper{
    position: sticky;
    bottom: 0.3rem;
}