.cardimg{
    width: 100% !important;
    height: 25rem;
    object-fit: contain;
}
.dontshow{
    animation: fromview 1s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes fromview {
    from{
        height: 25rem;
    }
    to{
        height: 0rem;
    }
}
.show{
    animation: intoview 1s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes intoview {
    from{
        height: 0;
    }
    to{
        height: 25rem;
    }
}
.actions{
    display: grid !important;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 20rem;
}
.content{
    align-self: flex-start;
    word-wrap: break-word;
    overflow-y: scroll;
    word-break: break-all;
    width: fit-content;
    max-width: 100%;
    height: 4vh;
}
.actionbtn{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 0% !important;
    border: 0px;
}