form{
    display: flex;
    flex-direction: column;
}
form > * > *{
    margin-bottom: 1.5rem;
}
.gender>*{
    margin-bottom: .5rem;
}
.upload{
    display: flex;
    align-items: center !important;
    border-radius: 0% !important;
    margin-bottom: 1rem !important;
}
.uploadtext{
    display: inline-block;
}
.photoicon{
    margin: 0%;
    margin-left: 1rem;
}